.Header .text-container {
    text-align: center;
    margin: 0px auto 20px auto;
}
.Header .text-container .text {
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.Header .logo-container {
    text-align: center;
    margin: 0px auto 20px auto;
}

.Header .logo-container .logo {
    max-width: 150px;
}

.Header .navbar {
    width: 100%;
    margin-bottom: -20px;
}
.Header .navbar .buttonGroup {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}
.Header .navbar .text {
    display: inline-block;
    padding: 0px 2%;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.Header .navbar .text:hover {
    color: gray;
}

.Header .navbar .text .underline {
    width: 0px;
    border-bottom: 3px orange solid;
    transition: width 0.3s;
}
.Header .navbar .buttonGroup .active .underline {
    width: 100%;
}

.Header .line {
    width: 80%;
    margin: 30px auto 40px auto;
    border-bottom: 5px black solid;
}