/*
    Modal
*/
.PopUpModal {
    position: fixed;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 50%;
    height: 90%;
    min-width: 300px;
    max-width: 600px;
    padding: 0px 20px;

    /* Make larger modals scrollable */
    overflow-y: auto;

    background: whitesmoke;
    color: black;
    border: 3px lightgray solid;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    z-index: 3;
}
.PopUpModal::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.PopUpModal::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.PopUpModal::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*
    Modal Header
*/
.PopUpModal .modal-header {
    display: inline-block;
    width: 100%;
}
.PopUpModal .modal-header .text {
    margin-left: -13px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
.PopUpModal .modal-header .date {
    margin-left: -13px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
.PopUpModal .modal-header .close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: black;
    opacity: 1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////           Modal Body          //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.PopUpModal .label-lg {
    margin: 0px 0px 3px 3px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.PopUpModal .label-sm {
    margin: 3px 0px 3px 3px;
}

/*.PopUpModal .input-box {}*/
.PopUpModal .input-box::placeholder {
    color: silver;
}
.PopUpModal .required {
    color: red;
    margin-left: -2px;
}

.PopUpModal .leftContainer {
    display: inline-block;
    width: 49%;
    min-width: 200px;
    margin-right: 2%;
}
.PopUpModal .rightContainer {
    display: inline-block;
    width: 49%;
    min-width: 200px;
}

.PopUpModal .leftContainer-sm {
    display: inline-block;
    width: 49%;
    min-width: 100px;
    margin-right: 2%;
}
.PopUpModal .rightContainer-sm {
    display: inline-block;
    width: 49%;
    min-width: 100px;
}

.PopUpModal .sectionBreak {
    margin: 20px 0px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////            Bookings           //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
    Noise Selector
*/
.PopUpModal .sliderContainer {
    position: relative;
    display: inline-block;
    width: 80%;
    min-width: 100px;
    margin: 10px 5% 0px 0px;
}
.PopUpModal .sliderContainer .value {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.PopUpModal .sliderContainer .slider {
    width: 100%;
    height: 20px;
    background: silver;
    outline: none;
    opacity: 0.7;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.PopUpModal .sliderContainer .slider:hover {
    opacity: 1;
}
.PopUpModal .sliderContainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}
.PopUpModal .sliderContainer .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}


/*
    Privacy Selector
*/
.PopUpModal .privacyContainer {
    position: relative;
    display: inline-block;
    min-width: 30px;
    margin: 10px 0px 0px 0px;
}
.PopUpModal .privacyContainer .checkbox {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 2px;
}

/*
    Advanced
*/
.PopUpModal .advancedBtn {
    width: 100%;
    height: 25px;
    margin: 20px 0px 0px 0px;
    font-size: 13px;
    line-height: 0px;
}
.PopUpModal .advancedOptions {
    overflow: hidden;
    height: 0px;
    transition: 1s;
}


/* 
    Resources
*/
.PopUpModal .resourceContainer {
    text-align: center;
}
.PopUpModal .resourceContainer .resource {
    display: inline-block;
    width: 30%;
    min-width: 150px;
    margin: 5px 10px;
    text-align: left;
}
.PopUpModal .resourceContainer .resource .checkboxLabel {
    display: inline-block;
    font-size: 15px;
    width: 25%;
    min-width: 125px;
}
.PopUpModal .resourceContainer .resource .checkbox {
    display: inline-block;
    width: 5%;
    min-width: 25px;
    height: 25px;
}

/*
    Calendar
*/
.DateSelectorModal {
    height: 330px;
}
.PopUpModal .dateSelector {
    width: 100%;
    margin: 10px auto 20px auto;
    text-align: center;
    margin-bottom: 30px;
}
.PopUpModal .dateSelector .backBtn {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 0px 3% 0px 0px;
    background-color: black;
    background-image: url("../../assets/backarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.PopUpModal .dateSelector .date {
    position: relative;
    display: inline-block;
    top: -7px;
    min-width: 150px;
    width: 10%;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
.PopUpModal .dateSelector .day:hover {
    background: white;
}
.PopUpModal .dateSelector .forwardBtn {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 0px 0px 0px 3%;
    background-color: black;
    background-image: url("../../assets/forwardarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.PopUpModal .calendar {
    position: relative;
    width: 99%;
    margin: 0px auto;
    overflow: auto;
    border: 1px blue solid;
}
.PopUpModal .calendar .daysOfWeek {
    float: left;
    width: 14.28%;
    font-size: 80%;
    border: 1px indigo solid;
    text-align: center;
}
.PopUpModal .calendar .day {
    position: relative;
    float: left;
    width: 14.28%;
    height: 30px;
    border: 1px blue solid;
    cursor: pointer;
    text-align: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////          Modal Footer         //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.PopUpModal .leftBtn {
    display: inline-block;
    width: 45%;
    height: 50px;
    margin: 30px 2% 15px 3%;
    font-size: 20px;
}
.PopUpModal .rightBtn {
    display: inline-block;
    width: 45%;
    height: 50px;
    margin: 30px 3% 15px 2%;
    font-size: 20px;
}

.PopUpModal .centerBtn {
    display: inline-block;
    width: 94%;
    height: 50px;
    margin: 30px 3% 15px 3%;
    font-size: 20px;
}