.Analysis .inputSection {
    position: relative;
    width: 80%;
    height: 40px;
    margin: 30px auto 0px auto;
}

.Analysis .inputSection .inputContainer {
    position: absolute;
    width: 45%;
    margin-bottom: 20px;
}
.Analysis .inputSection .inputContainerLeft {
    left: 0;
}
.Analysis .inputSection .inputContainerRight {
    right: 0;
}

.Analysis .date {
    width: 47%;
    z-index: 0;
}
.Analysis .leftDate {
    float: left;
}
.Analysis .rightDate {
    float: right;
}


.Analysis .dropdown-check-list {
    display: inline-block;
}
.Analysis .dropdown-check-list .anchor {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 0;
}
.Analysis .dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.Analysis .dropdown-check-list .anchor:after {
    position: absolute;
    top: 20%;
    right: 10px;
    padding: 5px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    content: "";
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.Analysis .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.Analysis .dropdown-check-list .items {
    display: none;
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: scroll;
    background: white;
    z-index: 1;
}
.Analysis .dropdown-check-list .items::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.Analysis .dropdown-check-list .items::-webkit-scrollbar {
	width: 12px;
    background-color: #F5F5F5;
}
.Analysis .dropdown-check-list .items::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.Analysis .dropdown-check-list.visible .items {
    display: block;
}

.Analysis .dropdown-check-list .items .container {
    position: relative;
    display: block;
    margin: 0px;
    padding-left: 40px;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    z-index: 1;
}
  
.Analysis .dropdown-check-list .items .container .text {
    font-size: 17px;
    padding: 5px 0px;
}
/* Hide the browser's default checkbox */
.Analysis .dropdown-check-list .items .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.Analysis .dropdown-check-list .items .container .checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;
}
/* On Hover */
.Analysis .dropdown-check-list .items .container:hover input ~ .checkmark {
    background-color: lightgray;
}
/* When the checkbox is checked */
.Analysis .dropdown-check-list .items .container input:checked ~ .checkmark {
    background-color: purple;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.Analysis .dropdown-check-list .items .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.Analysis .dropdown-check-list .items .container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.Analysis .dropdown-check-list .items .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.Analysis .buttonContainer {
    width: 100%;
    text-align: center;
}
.Analysis .buttonContainer .button {
    width: 200px;
    height: 50px;
    margin: 30px 0px;
    background: green;
    border: 1px green solid;
    color: white;
}


.Analysis .topRow {
    width: 100%;
    height: 25px;
    margin: 10px auto 10px auto;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px black solid;
    pointer-events: none;
}

.Analysis .reportRow {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.Analysis .reportCol {
    display: inline-block;
    width: 20%;
    min-width: 170px;
    height: 100%;
    text-align: center;
}

.Analysis .reportContainer {
    width: 90%;
    min-width: 1000px;
    margin: 0px auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.Analysis .reportCol .selectMenu {
    width: 70%;
}

.Analysis .reportContainer .reportRow .colText {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.Analysis .reportContainer .reportRow .barGraph {
    display: inline-block;
    width: 6.666%;
    height: 100%;
}