/*
    Views Navbar
*/
.Data .viewSelector {
    width: 100%;
    margin-bottom: 20px;
}
.Data .viewSelector .buttonGroup {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}
.Data .viewSelector .buttonGroup .text {
    display: inline-block;
    padding: 0px 2%;
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.Data .viewSelector .text:hover {
    color: gray;
}
.Data .viewSelector .text .underline {
    width: 0px;
    border-bottom: 3px orange solid;
    transition: width 0.3s;
}

.Data .loadingAnimation {
    width: 200px;
    height: 200px;
    margin: 0px auto;
    background-image: url("../../../assets/logo.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}