/*
    Modal
*/
.BookingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    min-width: 300px;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;

    /* Make larger modals scrollable */
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    background: whitesmoke;
    color: black;
    outline: 3px lightgray solid;
    padding: 0px 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}
.BookingModal::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.BookingModal::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.BookingModal::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.BookingModal .modal-header {
    display: inline-block;
    width: 100%;
}
.BookingModal .modal-header .text {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
.BookingModal .modal-header .date {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
.BookingModal .modal-header .close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: black;
    opacity: 1;
}

.BookingModal .sectionLabel {
    margin-left: 3px;
}
.BookingModal .inputLg {
    width: 94%;
    margin: 10px auto;
}
.BookingModal .inputSmLeft {
    display: inline-block;
    width: 40%;
    margin: 0px 0px 10px 3%;
}
.BookingModal .inputSmRight {
    float: right;
    width: 40%;
    margin: 0px 3% 10px 0px;
}

/*
    Color Selector
*/
.BookingModal .colorSelectorContainer {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 100px;
    margin: 10px 0px 10px 3%;
}
.BookingModal .colorSelectorContainer .colorLabel {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}
.BookingModal .colorSelectorContainer .selectedColor {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 24px auto 0px auto;
    width: 60px;
    height: 60px;
    background: blue;
}
.BookingModal .colorSelectorContainer .colorRow {
    display: flex;
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    justify-content: space-between;
}
.BookingModal .colorSelectorContainer .colorRow .colorOption {
    width: 25px;
    height: 25px;
    visibility: hidden;
}

/*
    Noise Selector
*/
.BookingModal .sliderContainer {
    position: relative;
    float: right;
    width: 40%;
    margin: 10px 3% 0px auto;
}
.BookingModal .sliderContainer .noiseLabel {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.BookingModal .sliderContainer .value {
    text-align: center;
    margin-bottom: 10px;
}
.BookingModal .sliderContainer .slider {
    width: 100%;
    height: 20px;
    background: silver;
    outline: none;
    opacity: 0.7;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.BookingModal .sliderContainer .slider:hover {
    opacity: 1;
}
.BookingModal .sliderContainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}
.BookingModal .sliderContainer .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}

.BookingModal .advancedBtn {
    width: 94%;
    height: 25px;
    margin: 20px 3% 0px 3%;
    font-size: 13px;
    line-height: 0px;
}

/*
    Calendar
*/
.BookingModal .calendarLabel {
    margin-left: 3%;
}
.BookingModal .dateSelector {
    width: 100%;
    margin: -10px auto 20px auto;
    text-align: center;
    margin-bottom: 30px;
}
.BookingModal .dateSelector .backBtn {
    width: 40px;
    height: 30px;
    margin: -8px 3% 0px 0px;
    background-color: black;
    background-image: url("../../../../../assets/backarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.BookingModal .dateSelector .date {
    min-width: 150px;
    width: 10%;
    height: 40px;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
}
.BookingModal .dateSelector .forwardBtn {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: -8px 0px 0px 3%;
    background-color: black;
    background-image: url("../../../../../assets/forwardarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/*
    Modal Footer
*/
.BookingModal .submitBtn {
    float: left;
    width: 40%;
    height: 50px;
    margin: 30px 0px 30px 3%;
    font-size: 20px;
}
.BookingModal .cancelBtn {
    float: right;
    width: 40%;
    height: 50px;
    margin: 30px 3% 30px 0px;
    font-size: 20px;
}

/* 
    DropDown
*/
.BookingModal .dropdown-check-list .anchor {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.BookingModal .dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.BookingModal .dropdown-check-list .anchor:after {
    position: absolute;
    top: 20%;
    right: 10px;
    padding: 5px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    content: "";
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.BookingModal .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.BookingModal .dropdown-check-list .items {
    display: none;
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: scroll;
}
.BookingModal .dropdown-check-list .items::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.BookingModal .dropdown-check-list .items::-webkit-scrollbar {
	width: 12px;
    background-color: #F5F5F5;
}
.BookingModal .dropdown-check-list .items::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.BookingModal .dropdown-check-list.visible .items {
    display: block;
}

.BookingModal .dropdown-check-list .items .container {
    position: relative;
    display: block;
    margin: 0px;
    padding-left: 40px;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    z-index: 1;
}
  
.BookingModal .dropdown-check-list .items .container .text {
    font-size: 17px;
    padding: 5px 0px;
}
/* Hide the browser's default checkbox */
.BookingModal .dropdown-check-list .items .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.BookingModal .dropdown-check-list .items .container .checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;
}
/* On Hover */
.BookingModal .dropdown-check-list .items .container:hover input ~ .checkmark {
    background-color: lightgray;
}
/* When the checkbox is checked */
.BookingModal .dropdown-check-list .items .container input:checked ~ .checkmark {
    background-color: purple;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.BookingModal .dropdown-check-list .items .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.BookingModal .dropdown-check-list .items .container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.BookingModal .dropdown-check-list .items .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}