/*
    Modal
*/
.BookingModal {
    height: 90%;
    max-height: 730px;
}

/*
    Header
*/
.PopUpModal .modal-header .date {
    margin-left: -13px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}


/*
    Noise Selector
*/
.PopUpModal .sliderContainer {
    position: relative;
    display: inline-block;
    width: 80%;
    min-width: 100px;
    margin: 10px 0px 0px 0px;
}
.PopUpModal .sliderContainer .value {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.PopUpModal .sliderContainer .slider {
    width: 100%;
    height: 20px;
    background: silver;
    outline: none;
    opacity: 0.7;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.PopUpModal .sliderContainer .slider:hover {
    opacity: 1;
}
.PopUpModal .sliderContainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}
.PopUpModal .sliderContainer .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}


/*
    Privacy Selector
*/
.PopUpModal .privacyContainer {
    position: relative;
    display: inline-block;
    width: 15%;
    min-width: 30px;
    margin: 10px 0px 0px 5%;
}
.PopUpModal .privacyContainer .checkbox {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 2px;
}

/*
    Advanced
*/
.PopUpModal .advancedBtn {
    width: 100%;
    height: 25px;
    margin: 20px 0px 0px 0px;
    font-size: 13px;
    line-height: 0px;
}
.PopUpModal .advancedOptions {
    overflow: hidden;
    height: 0px;
    transition: 1s;
}


/* 
    Resources
*/
.PopUpModal .resourceContainer {
    text-align: center;
}
.PopUpModal .resourceContainer .resource {
    display: inline-block;
    width: 30%;
    min-width: 150px;
    margin: 5px 10px;
    text-align: left;
}
.PopUpModal .resourceContainer .resource .checkboxLabel {
    display: inline-block;
    font-size: 15px;
    width: 25%;
    min-width: 125px;
}
.PopUpModal .resourceContainer .resource .checkbox {
    display: inline-block;
    width: 5%;
    min-width: 25px;
    height: 25px;
}

/*
    Calendar
*/
.PopUpModal .dateSelector {
    width: 100%;
    margin: 10px auto 20px auto;
    text-align: center;
    margin-bottom: 30px;
}
.PopUpModal .dateSelector .backBtn {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 0px 3% 0px 0px;
    background-color: black;
    background-image: url("../../../../../assets/backarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.PopUpModal .dateSelector .date {
    position: relative;
    display: inline-block;
    top: -7px;
    min-width: 150px;
    width: 10%;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
.PopUpModal .dateSelector .forwardBtn {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 0px 0px 0px 3%;
    background-color: black;
    background-image: url("../../../../../assets/forwardarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.PopUpModal .calendar {
    position: relative;
    width: 99%;
    margin: 0px auto;
    overflow: auto;
    border: 1px blue solid;
}
.PopUpModal .calendar .daysOfWeek {
    float: left;
    width: 14.28%;
    font-size: 80%;
    border: 1px indigo solid;
}
.PopUpModal .calendar .day {
    position: relative;
    float: left;
    width: 14.28%;
    height: 30px;
    border: 1px blue solid;
    cursor: pointer;
}

/*
    Drop Down
*/
.PopUpModal .dropdown-check-list .anchor {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.PopUpModal .dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.PopUpModal .dropdown-check-list .anchor:after {
    position: absolute;
    top: 20%;
    right: 10px;
    padding: 5px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    content: "";
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.PopUpModal .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.PopUpModal .dropdown-check-list .items {
    display: none;
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: scroll;
}
.PopUpModal .dropdown-check-list .items::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.PopUpModal .dropdown-check-list .items::-webkit-scrollbar {
	width: 12px;
    background-color: #F5F5F5;
}
.PopUpModal .dropdown-check-list .items::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.PopUpModal .dropdown-check-list.visible .items {
    display: block;
}

.PopUpModal .dropdown-check-list .items .container {
    position: relative;
    display: block;
    margin: 0px;
    padding-left: 40px;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    z-index: 1;
}
  
.PopUpModal .dropdown-check-list .items .container .itemText {
    font-size: 17px;
    padding: 5px 0px;
}
/* Hide the browser's default checkbox */
.PopUpModal .dropdown-check-list .items .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.PopUpModal .dropdown-check-list .items .container .checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;
}
/* On Hover */
.PopUpModal .dropdown-check-list .items .container:hover input ~ .checkmark {
    background-color: lightgray;
}
/* When the checkbox is checked */
.PopUpModal .dropdown-check-list .items .container input:checked ~ .checkmark {
    background-color: purple;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.PopUpModal .dropdown-check-list .items .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.PopUpModal .dropdown-check-list .items .container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.PopUpModal .dropdown-check-list .items .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

