/*
    Modal
*/
.BookingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35%;
    min-width: 300px;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;

    /* Make larger modals scrollable */
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    background: whitesmoke;
    color: black;
    outline: 3px lightgray solid;
    padding: 0px 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}
.BookingModal::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.BookingModal::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.BookingModal::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.BookingModal .modal-header {
    display: inline-block;
    width: 100%;
}
.BookingModal .modal-header .text {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
.BookingModal .modal-header .date {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
.BookingModal .modal-header .close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: black;
    opacity: 1;
}

.BookingModal .sectionLabel {
    margin-left: 3px;
}
.BookingModal .inputLg {
    width: 94%;
    margin: 10px auto;
}
.BookingModal .inputSmLeft {
    display: inline-block;
    width: 40%;
    margin: 0px 0px 10px 3%;
}
.BookingModal .inputSmRight {
    float: right;
    width: 40%;
    margin: 0px 3% 10px 0px;
}

/*
    Color Selector
*/
.BookingModal .colorSelectorContainer {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 100px;
    margin: 10px 0px 10px 3%;
}
.BookingModal .colorSelectorContainer .colorLabel {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}
.BookingModal .colorSelectorContainer .selectedColor {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 24px auto 0px auto;
    width: 60px;
    height: 60px;
    background: blue;
}
.BookingModal .colorSelectorContainer .colorRow {
    display: flex;
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    justify-content: space-between;
}
.BookingModal .colorSelectorContainer .colorRow .colorOption {
    width: 25px;
    height: 25px;
    visibility: hidden;
}

/*
    Noise Selector
*/
.BookingModal .sliderContainer {
    position: relative;
    float: right;
    width: 40%;
    margin: 10px 3% 0px auto;
}
.BookingModal .sliderContainer .noiseLabel {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.BookingModal .sliderContainer .value {
    text-align: center;
    margin-bottom: 10px;
}
.BookingModal .sliderContainer .slider {
    width: 100%;
    height: 20px;
    background: silver;
    outline: none;
    opacity: 0.7;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.BookingModal .sliderContainer .slider:hover {
    opacity: 1;
}
.BookingModal .sliderContainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}
.BookingModal .sliderContainer .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}

.BookingModal .advancedBtn {
    width: 94%;
    height: 25px;
    margin: 20px 3% 0px 3%;
    font-size: 13px;
    line-height: 0px;
}

.BookingModal .weekBar {
    display: inline-block;
    width: 100%;
    height: 40px;
}
.BookingModal .weekBar .day {
    display: inline-block;
    width: 14.28%;
    height: 100%;
    color: indigo;
    background-color: white;
    transition: 0.2s;
}
.BookingModal .weekBar .day .textContainer {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.BookingModal .weekBar .day .textContainer .text {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.BookingModal .weekBar .day:hover {
    color: white;
    background-color: indigo; 
}

/*
    Modal Footer
*/
.BookingModal .submitBtn {
    float: left;
    width: 40%;
    height: 50px;
    margin: 30px 0px 30px 3%;
    font-size: 20px;
}
.BookingModal .cancelBtn {
    float: right;
    width: 40%;
    height: 50px;
    margin: 30px 3% 30px 0px;
    font-size: 20px;
}