/*
    Modal
*/
.PopUpModal .booking {
    width: 98%;
    margin: 0px auto 7px auto;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 2px 2px;
}

.PopUpModal .booking .line {
    width: 100%;
    height: 20px;
    margin-bottom: 6px;
}
.PopUpModal .booking .line .time {
    float: left;
}
.PopUpModal .booking .line .icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 1px;
    margin-left: 2px;
    border: none;
    text-decoration: none;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.BookedDayModal .centerBtn {
    margin-top: 10px;
}