.Schedule {
    height: 700px;
}

/*
    Views Navbar
*/
.Schedule .viewSelector {
    text-align: center;
    margin-bottom: 40px;
}
.Schedule .viewText {
    font-size: 20px;
}
.Schedule .viewTextCenter {
    margin: 0px 5%;
    font-size: 20px;
}

/*
    Date Selector 
*/
.Schedule .dateSelector {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
}
.Schedule .dateSelector .backBtn {
    width: 70px;
    height: 40px;
    margin: -15px 2% 0px 0px;
    background-color: black;
    background-image: url("../../../assets/backarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.Schedule .dateSelector .date {
    min-width: 200px;
    width: 10%;
    height: 40px;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius: 3px;
    font-size: 30px;
}
.Schedule .dateSelector .calendarBtn {
    width: 50px;
    height: 40px;
    margin-top: -15px;
    background-color: lightgray;
    background-image: url("../../../assets/calendar-white.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.Schedule .dateSelector .forwardBtn {
    width: 70px;
    height: 40px;
    margin: -15px 0px 0px 4%;
    background-color: black;
    background-image: url("../../../assets/forwardarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/*
    Calendar
*/
.Schedule .calendar {
    position: relative;
    width: 99%;
    margin: 0px auto;
}

.Schedule .calendar .timeSlot {
    position: absolute;
    top: 0;
    display: table;
    background-color: lightgray;
    text-align: center;
    font-size: 1.4vw;
    font-weight: bold;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}
.Schedule .calendar .timeSlot .text {
    display: table-cell;
    vertical-align: middle;
}

.Schedule .calendar .room {
    position: absolute;
    left: 0;
    display: table;
    overflow: hidden;
    text-align: center;
    color: black;
    font-size: 1.4vw;
    font-weight: bold;
    border-right: 1px black solid;
    border-bottom: 2px black solid;
}
.Schedule .calendar .room .text {
    display: table-cell;
    vertical-align: middle;
}

.Schedule .calendar .Nothing {
    background-color: black;
}
.Schedule .calendar .DaVinci {
    background-color: lightblue;
}
.Schedule .calendar .Green {
    background-color: lightgreen;
}
.Schedule .calendar .Sunshine {
    background-color: yellow;
}
.Schedule .calendar .Zen {
    background-color: bisque;
}
.Schedule .calendar .Studio {
    background-color: purple;
}
.Schedule .calendar .Loft {
    background-color: skyblue;
}
.Schedule .calendar .Porch {
    background-color: burlywood;
}
.Schedule .calendar .Lawn {
    background-color: forestgreen;
}

.Schedule .calendar .timeWindow {
    position: absolute;
    background-color: white;
    border-bottom: 1px black solid;
}
.Schedule .calendar .timeWindow:hover {
    background-color: lightgray;
}

.Schedule .calendar .booking {
    position: absolute;
    width: 0px;
    background-color: red;  /* Default color if error occurs */
    overflow: hidden;
    
}
.Schedule .calendar .booking .titleText {
    position: absolute;
    top: 0;
    padding: 1px 0px 0px 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    line-height: 18px;
}
.Schedule .calendar .booking .byText {
    position: absolute;
    bottom: 0;
    padding: 0px 0px 0px 5px;
    font-size: 15px;
    color: black;
}
