.Schedule {
    height: 1350px;
}

/*
    Views Navbar
*/
.Schedule .viewSelector {
    text-align: center;
    margin-bottom: 40px;
}
.Schedule .viewText {
    margin: 0px 4%;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.Schedule .viewText:hover {
    color: gray;
}
