/*
    Date Selector 
*/
.DailyViewCalendar .dateSelector {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
}
.DailyViewCalendar .dateSelector .backBtn {
    width: 70px;
    height: 40px;
    margin: -15px 3% 0px 0px;
    background-color: black;
    background-image: url("../../../../../assets/backarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.DailyViewCalendar .dateSelector .date {
    width: 150px;
    height: 40px;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius: 3px;
    font-size: 30px;
}
.DailyViewCalendar .dateSelector .calendarBtn {
    width: 50px;
    height: 40px;
    margin-top: -15px;
    background-color: lightgray;
    background-image: url("../../../../../assets/calendar-white.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.DailyViewCalendar .dateSelector .forwardBtn {
    width: 70px;
    height: 40px;
    margin: -15px 0px 0px 4%;
    background-color: black;
    background-image: url("../../../../../assets/forwardarrow-white.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/*
    Calendar
*/
.DailyViewCalendar .calendar {
    position: relative;
    width: 98%;
    margin: 0px auto;
}

/*
    Left Side Location Col
*/
.DailyViewCalendar .calendar .locationCol {
    position: absolute;
    width: 170px;
}
.DailyViewCalendar .calendar .locationCol .firstLocationPlaceHolder {
    height: 60px;
    border: 1px purple solid;
}
.DailyViewCalendar .calendar .locationCol .locationContainer {
    float: left;
    width: 100%;
    height: 60px;
    border: 1px purple solid;
}
.DailyViewCalendar .calendar .locationCol .locationContainer .location {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.DailyViewCalendar .calendar .locationCol .locationContainer .location .text {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    cursor: context-menu;
}

/*
    Scrollable Calendar
*/
.DailyViewCalendar .calendar .innerSection {
    position: absolute;
    width: 88.5%;
    left: 170px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.DailyViewCalendar .calendar .innerSection::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
    background-color: #F5F5F5;
}
.DailyViewCalendar .calendar .innerSection::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.DailyViewCalendar .calendar .innerSection::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.DailyViewCalendar .calendar .innerSection .topRow {
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 1;
}
.DailyViewCalendar .calendar .innerSection .topRow .hourContainer {
    display: inline-block;
    width: 120px;
    height: 100%;
    background-color: white;
    border-top: 1px blue solid;
    border-right: 1px blue solid;
    border-bottom: 1px blue solid;
}
.DailyViewCalendar .calendar .innerSection .topRow .hourContainer .hour {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.DailyViewCalendar .calendar .innerSection .topRow .hourContainer .hour .text {
    display: table-cell;
    vertical-align: middle;
    /*font-size: 1.4vw;*/
    font-size: 25px;
    font-weight: bold;
    cursor: context-menu;
}

.DailyViewCalendar .calendar .innerSection .calendarRow {
    position: relative;
    height: 60px;
}
.DailyViewCalendar .calendar .innerSection .calendarRow .timeChunk {
    display: inline-block;
    width: 120px;
    height: 100%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.DailyViewCalendar .calendar .innerSection .calendarRow .timeChunk .timeSlot {
    float: left;
    width: 8.33%;
    height: 100%;
    background-color: white;
    cursor: pointer;
}

.DailyViewCalendar .calendar .innerSection .calendarRow .booking {
    position: absolute;
    height: 100%;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    background-color: black;  /* Default color if error occurs */
    cursor: pointer;
}
.DailyViewCalendar .calendar .innerSection .calendarRow .booking .icon {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 2px;
    border: none;
    text-decoration: none;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.DailyViewCalendar .calendar .innerSection .calendarRow .booking .title {
    width: calc(100% - 5px);
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color: white;
}
.DailyViewCalendar .calendar .innerSection .calendarRow .booking .name {
    position: absolute;
    bottom: 2px;
    left: 5px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color: white;
}
.DailyViewCalendar .calendar .innerSection .calendarRow .booking .centerText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color: white;
}